// Cookbooks List Styles
.cookbook_item {
  margin: 0.4em;
  padding-top: 1em;
  text-align: center;
  border: 2px solid $lime-green;
  border-radius: 10px;
}

.cookbook_item--image {
  width: 85%;
  margin-bottom: 1em;

  @media (min-width: $mq-xxsmall) {
    width: 75%;
  }

  @media (min-width: $mq-small) {
    float: left;
    margin: 0 0.2em 1em 1em;
    width: 45%;
  }
}

.cookbook_item--title {
  font-size: 1.6em;
  font-weight: $bold;

  @media (min-width: $mq-xsmall) {
    font-size: 2em;
  }
}

.cookbook_item--author {
  font-size: 1.3em;
  font-weight: $bold;
  font-variant: small-caps;
}

.cookbook_item--date {
  font-size: 1em;
}

.cookbook_item--actions {
  padding: 0.3em 0 0.5em;
  font-size: 2em;

  .action--icon {
    margin-right: 0.3em;
    margin-left: 0.3em;
  }

  /* Hack the FA amazon icon to match same height as other actions */
  .action--icon-amazon {
    position: relative;
    top: 5px;
    font-size: 34px;
  }
}

// Cookbook Management
.cookbook_form {
  padding: 20px;
}

.button_add {
  padding-top: 5px;
}

.button--action {
  margin: 0.5em 0.2em 0;
}

.button--action-icon {
  width: auto;
  height: 1.5em;
}
