.recipe-list__heading {
  margin: 0.5em;
  font-weight: bolder;
  font-size: 2em;
  color: #c6cd78;
}

.recipe-list table,
.recipe-list th,
.recipe-list td {
  margin: 1.5em 1em;
  padding: 0.3em 1em;
}

.recipe-list tbody tr:nth-child(even) {
  background-color: #f7f9fc; /* gray */
}

.recipe-list__header {
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 0.1em;
}

@media (min-width: 40em) {
  .recipe-list__heading {
    font-size: 2.5em;
  }

  .recipe-list__header {
    font-size: 1.3em;
  }

  .recipe-list td {
    font-size: 1.1em;
  }
}
