.container {
  margin: 2em;
  width: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.flex-item {
  flex: 1 0 30em;
  align-self: stretch;
  max-width: 100%;
  min-height: 10rem;
  margin: 1%;
  border: 3px solid #ccc;
  background: white;

  /* Min width */
  /*&:nth-child(2n+3){
    flex-basis:300px;
  }
  &:nth-child(4n+5){
    flex-basis:450px;
  }*/
  /* End Min width */

  /* Color */
  /*&:nth-child(odd){
    border-top-color: teal;
  }
  &:nth-child(even){
    border-top-color: wheat;
  }*/
  /* End Color */

}

.cookbook-item {
  padding: 1em 0;
}

.button-action {
  margin: 0.5em 0.2em 0;
}

.button-action--icon {
  width: auto;
  height: 1.5em;
}

@media screen and (max-width:500px) {
  .flex-item {
    flex-basis:100% !important;
    max-width:100%;
  }
}
