.container {
  margin: 2em;
  width: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.flex-item {
  flex: 1 0 30em;
  align-self: stretch;
  max-width: 100%;
  min-height: 10rem;
  margin: 1%;
  border: 2px solid #c6cd78;
  background: white;
}

@media (min-width: 40em) {
  .flex-item {
    min-height: 15rem;
  }
}

.cookbook-item {
  padding: 1em 0;
}

.cookbook-item__img {
  float: left;
  margin-right: 0.2em;
  margin-left: 1em;
  width: 50%;
}

.cookbook-item__title {
  font-size: 1em;
  font-weight: bold;
}

.cookbook-item__author {
  font-size: 0.9em;
  font-weight: bold;
  font-variant: small-caps;
}

.cookbook-item__date {
  font-size: 0.8em;
}

.cookbook-item__actions {
  padding: 0.5em 0;
  font-size: 1.5em;
}

@media (min-width: 40em) {
  .cookbook-item__title {
    font-size: 2em;
  }

  .cookbook-item__author {
    font-size: 1.3em;
  }

  .cookbook-item__date {
    font-size: 1em;
  }

  .cookbook-item__actions {
    font-size: 2em;
  }
}

.cookbook-form {
  padding: 20px;
}

.button-section {
  padding-top: 5px;
}

.button-action {
  margin: 0.5em 0.2em 0;
}

.button-action--icon {
  width: auto;
  height: 1.5em;
}
