body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 1.5em 0 0 2em;
}

table {
  margin-top: 10px;
}

th,
td {
  padding: 5px;
  text-align: left;
}

.cookbook-form {
  padding: 20px;
}

.button-section {
  padding-top: 5px;
}
