// Media Query breakpoints
$mq-xxsmall: 24em;    // Phones (Landscape) - anything smaller is in portrait (384px)
$mq-xsmall: 40em;     // Tablet (640px)
$mq-small: 64em;      // Netbook (864px)
$mq-medium: 80em;     // Laptop (1280px)
$mq-large: 100em;     // Mid Size monitor (1600px)
$mq-xlarge: 120em;    // Desktop (1920px)
$mq-xxlarge: 140em;   // Thunderbolt (2240px)
